<nav>
    <button (click)="onLogout()">Logout</button>
    <div (click)="setMenuOpen(true)" id="menuTrigger" class="user-icon-container">
        <fa-icon class="user-icon" [icon]="faCircleUser"></fa-icon>
        <app-click-away-menu [top]="50" [right]="0" (menuOpenEvent)="setMenuOpen(false)" [menuOpen]="menuOpen"
            [minHeight]="350" [width]="180">
            <div class="menu-container">
                <div class="menu-tab">
                    <p>{{ user.first_name + ' ' + user.last_name| titlecase }}</p>
                </div>
                <div class="menu-content">
                    <a routerLink="./settings">Settings</a>
                </div>
            </div>
        </app-click-away-menu>
    </div>
</nav>
