nav {
    color: #fff;
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}


.logo img {
    width: 50px;
    height:50px;
}


.main-auth-menu {
    display: flex;
    justify-content: center;
}

button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.user-icon {
    font-size: 2.75rem;
    cursor: pointer;
    pointer-events: none;
}


.user-icon-container {
    color: #fff;
    position: relative;
    cursor: pointer;
}


.menu-content {
    color: var(--gray);
}


.menu-tab {
    background-color: var(--teal);
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menu-tab p {
    margin: 0;
    padding: 0.25rem;
    text-align: center;
    color: var(--gray);
}

.menu-content {
    padding: 0.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menu-content a {
    text-decoration: none;
    color:  var(--gray);
    font-size: 0.9rem;
}



