.container {
    background-image: url('../../../assets/forgot-password.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 3rem;
}


.errors {
    display:flex;
    justify-content: center;
}

.errors p {
    color:red;
    font-size: 0.85rem;
}


h1  {
    color: var(--gray);
    text-align: center;
}


.sub-title {
    text-align: center;
    display: flex;
    justify-content: center;
}

.sub-title p {
    color: var(--gray);
    text-align: center;
    font-size:  0.9rem;
    line-height: 1.6;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.btn-container button {
    width: 100%;
}


.form-container {
    background: #fff;
    padding: 0.5rem;
    padding-top: 3rem;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:400px;
    min-height: 600px;
}


@media (max-width: 600px) {
    .form-container {
        width: 95%;
    }
}
