.container  {
    margin: 1.5rem 0;
}


.bio-heading  h3 {
    color: var(--gray);
}

.bio-heading p {
    color:var(--light-gray);
}


textarea {
    min-height: 60px;
    border:  1px solid #ccc;
    border-radius: 8px;
    width: 300px;
}

.char-counter {
    color: var(--light-gray);
    font-size: 0.85rem;
}
