<div class="page-wrapper">
    <app-modal *ngIf="modalOpen" (modalEvent)="closeModal()">
        <div class="modal-content">
            <div class="modal-title">
                <h3>You've got a match!</h3>
                <fa-icon [icon]="faStar"></fa-icon>
            </div>
            <img *ngIf="matchPreview.images.length" [src]="matchPreview.images[0]" />
            <p>{{ matchPreview.first_name | titlecase }}</p>
        </div>
    </app-modal>
    <div *ngIf="errorMsg" class="error">
        <p>{{ errorMsg }}</p>
    </div>
    <ng-container *ngIf="!errorMsg">
        <app-profile [user]="stranger"></app-profile>
    </ng-container>
    <div *ngIf="!errorMsg" class="btn-container">
        <div (click)="onDeny()" class="deny-btn">
            <fa-icon [icon]="faClose"></fa-icon>
        </div>
        <div class="match-btn">
            <a routerLink="./matches">
                <img src="../../../assets/logo.png" />
            </a>
        </div>
        <div (click)="onAccept()" class="accept-btn">
            <fa-icon [icon]="faHeart"></fa-icon>
        </div>
    </div>
</div>
