<div class="container">
    <div class="form-container">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <h1>Reset Password</h1>
            <p *ngIf="error">Password may not be the same as your old password.</p>
            <p class="error">{{ error }}</p>
            <app-input [group]="resetPasswordForm" [type]="'password'" [placeholder]="'Password'" [id]="'password'"
                [label]="'New Password'" [control]="resetPasswordForm.get('password')">
            </app-input>
            <app-input [group]="resetPasswordForm" [type]="'password'" [placeholder]="'Confirm Password'"
                [id]="'confirmPassword'" [label]="'Confirm Password'"
                [control]="resetPasswordForm.get('confirmPassword')">
            </app-input>
            <div class="btn-container">
                <button class="primary-btn">Submit</button>
            </div>
        </form>
    </div>
</div>
