:host {
    margin-top: 5rem;
    width:  100%;
    height:100%;
}

.container  {
    background: #fff;
    padding: 0.5rem;
    padding-top: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:100%;
    min-height: 850px;
}


.aside {
    background-image: url('../../../assets/register-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 650px;
    padding: 0.5rem;
    padding-top: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}




h1  {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}


form {
    margin-top: 5rem;
}


.error {
    color: red;
    font-size: 0.8rem;
}


.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
}

input {
    border: 1px solid #d8d8de;
    height: 35px;
    margin-left: 0.5rem;
    border-radius: 8px;
}

.input-sm {
    width:  90%;
    margin: 0 0.5rem;
}

.row {
    display: flex;
    justify-content: space-around;
}

@media  (max-width: 600px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

.btn-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}


button {
    width: 150px;
    height: 35px;
    background: var(--purple);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s  ease-in-out;
}

button:hover {
    opacity: 0.8;
}

@media (min-width:605px) and (max-width: 1000px) {
    .container {
        width:  600px;
        margin: 0 auto;
    }
}
