:host {
    margin-top: 5rem;
    width:  100%;
    height:100%;
}

.server-errors {
    margin:  2rem auto;
}


h1 {
    color: var(--gray);
}

.server-errors p {
    color: red;
    font-size: 0.85rem;
}


.wrapper {
    display: flex;
    flex-direction: row;
}

.container  {
    background: #fff;
    padding: 0.5rem;
    padding-top: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:100%;
    min-height: 850px;
}


.aside {
    background-image: url('../../../assets/register-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 650px;
    padding: 0.5rem;
    padding-top: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}




h1  {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}


form {
    margin-top: 5rem;
}


.error {
    color: red;
    font-size: 0.8rem;
}


.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
}

input {
    border: 1px solid #d8d8de;
    height: 35px;
    margin-left: 0.5rem;
    border-radius: 8px;
}

.input-sm {
    width:  90%;
    margin: 0 0.5rem;
}

.row {
    display: flex;
    justify-content: space-around;
}

@media  (max-width: 600px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

.btn-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}


button {
    width: 150px;
    height: 35px;
    background: var(--purple);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s  ease-in-out;
}

button:hover {
    opacity: 0.8;
}



.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .radio-checkmark {
  background-color: var(--purple);
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}





@media (min-width:605px) and (max-width: 1000px) {
    .container {
        width:  600px;
        margin: 0 auto;
    }
    .aside  {
        display: none;
        width:  600px;
        margin:0 auto;
    }
    .wrapper {
        flex-direction: column;
    }
}


@media(max-width: 604px) {
    .aside {
        display: none;
    }
    .container  {
        width:  100%;
    }
}



