<div class="container">
    <header>
        <h1>Register</h1>
    </header>
    <form [formGroup]="registerForm">
        <div class="row">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input formControlName="firstName" class="input-sm" id="firstName" type="text" />
                <div *ngIf="firstName?.errors?.['required']  && firstName?.touched">
                    <p class="error">First name is required</p>
                </div>
                <div *ngIf="firstName?.errors?.['maxlength'] && 
                    firstName?.dirty  && 
                    firstName?.touched">
                    <p class="error">First name cannot exceed 75 characters</p>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" class="input-sm" id="lastName" type="text" />
                <div *ngIf="lastName?.errors?.['required']  && lastName?.touched">
                    <p class="error">First name is required</p>
                </div>
                <div *ngIf="lastName?.errors?.['maxlength'] && 
                    lastName?.dirty  && 
                    lastName?.touched">
                    <p class="error">First name cannot exceed 75 characters</p>
                </div>
            </div>
        </div>
    </form>
</div>
