.container {
    border:  1px solid #ccc;
    min-height: 100vh;
    width: 850px;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 3rem 0.5rem 1.5rem 0.5rem;
}



.input-container {
    width: 300px;
    border: 1px solid #ccc;
    height: 80px;
    border-radius: 8px;
}

.input-container input {
    width: 80%;
    margin: 0.25rem 1rem 1rem 1rem;
}

.distance-away, .age {
    margin: 0.25rem 1rem;
    font-size: 0.8rem;
    color: var(--gray);
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
    border-radius: 20px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--purple);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--purple);
  cursor: pointer;
}


.btn-container {
    margin: 2rem 0;
}

.title {
    color: var(--gray);
    font-weight: bold;
    font-size: 0.95rem;
}






.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .radio-checkmark {
  background-color: var(--purple);
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


