.container {
    border:  1px solid #ccc;
    min-height: 100vh;
    width: 850px;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 3rem 0.5rem 1.5rem 0.5rem;
}



.input-container {
    width: 300px;
    border: 1px solid #ccc;
    height: 80px;
    border-radius: 8px;
}

.input-container input {
    width: 80%;
    margin: 0.25rem 1rem 1rem 1rem;
}

.distance-away, .age {
    margin: 0.25rem 1rem;
    font-size: 0.8rem;
    color: var(--gray);
}



.btn-container {
    margin: 2rem 0;
}

.title {
    color: var(--gray);
    font-weight: bold;
    font-size: 0.95rem;
}






.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .radio-checkmark {
  background-color: var(--purple);
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}









.range-slider {
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
}

.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 60px;
}

.range-slider input[type=number] {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.6em;
  -moz-appearance: textfield;
}

.range-slider input[type=number]::-webkit-outer-spin-button,
.range-slider input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-slider input[type=number]:invalid,
.ranger-slider input[type=number]:out-of-range {
  border: 2px solid #ff6347;
}

.range-slider input[type=range] {
  -webkit-appearance: none;
}

.range-slider input[type=range]:focus {
  outline: none;
}

.range-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--purple);
}

.range-slider input[type=range]:focus::-ms-fill-lower {
  background: var(--purple);
}

.range-slider input[type=range]:focus::-ms-fill-upper {
  background: var(--purple);
}

.range-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--purple);
  border-radius: 20px;
  box-shadow: none;
  border: 0;
}

.range-slider input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #ccc;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ccc;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}



