@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --purple:#6C4AB6;
    --light-purple: #8D72E1;
    --teal: #B9E0FF;
    --gray: #62788d;

}


* {
   box-sizing: border-box;
   font-family: Montserrat;
  }

body  {
    margin: 0;
}


label {
    color: var(--gray);
}


.primary-btn {
    width: 150px;
    height: 35px;
    background: var(--purple);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s  ease-in-out;
}

.primary-btn:hover {
    opacity: 0.8;
}



