.container {
    background: #fff;
    box-shadow: var(--box-shadow);
    min-height: 350px;
    width:  180px;
    position: absolute;
    top: 50px;
    right:  0px;
    border-radius: 8px;
    z-index: 5;
}

.container p {
    color: var(--gray);
    text-align: center;
}

