.container {
    min-height: 100vh;
    position: relative;
}


.navbar {
    padding-top: 2.5rem;
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    margin: 1rem;
    text-decoration: none;
    color: var(--gray);
}

.active-link {
    font-weight: bold;
}

hr {
     height: 1px;
     background-color: #ccc;
     border: none;
}
